<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file">
         <command
               commandId="de.alichs.eclipse.dropbox"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.alichs.eclipse.dropbox">
         <command
               commandId="de.alichs.eclipse.dropbox.refresh"
               icon="icons/refresh.gif"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.alichs.eclipse.dropbox"
            name="Show Dropbox Files">
      </command>
      <command
            id="de.alichs.eclipse.dropbox.refresh"
            name="Refresh">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.alichs.eclipse.dropbox.ShowDropboxFilesHandler"
            commandId="de.alichs.eclipse.dropbox">
      </handler>
      <handler
            class="de.alichs.eclipse.dropbox.RefreshHandler"
            commandId="de.alichs.eclipse.dropbox.refresh">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.alichs.eclipse.dropbox.DropboxFilesView"
            icon="icons/dropbox16.png"
            id="de.alichs.eclipse.dropbox"
            name="Dropbox Files"
            restorable="true">
      </view>
   </extension>
</plugin>
